<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper是dao接口的全限定名 -->
<mapper namespace="com.baizhi.springmvc.dao.RecordDao">


    <insert id="insert">
		insert into auction_record values(use_seq.nextval,#{user_id},#{auction_id},#{auction_time},#{auction_price})
	</insert>

    <delete id="delete">
	delete from auction_record where auction_id=#{id}
	</delete>
</mapper>