<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.springmvc.dao.UserDao">

    <select id="login" resultType="com.baizhi.springmvc.entity.User">
		select * from auction_user where user_name = #{name} and user_password =#{psw}
	</select>

    <insert id="zhuce">
	insert into auction_user values(a_user.nextval,#{user_name},#{user_password},#{user_card_no},#{user_tel},#{user_address},#{user_post_number},0,'123','456')
	</insert>
</mapper>